* {
    margin: 0px;
    padding: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
}


/* PICK */

nav {
    display: flex;
    
}
aside {
    background-color: #3b3b3b;
    height:50vh;
    width: 100vh;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

aside section {
    border: solid #646464;
    height: 45px;
}

[for="player1"] {
    background-color: blue;
}
[for="player2"] {
    background-color: red;
}
[for="player3"] {
    background-color: green;
}
[for="player4"] {
    background-color: yellow;
}
[for="player5"] {
    background-color: pink;
}
[for="player6"] {
    background-color: lightblue;
}
[for="player7"] {
    background-color: lightcoral;
}
[for="player8"] {
    background-color: lightgreen;
}
[for="player9"] {
    background-color: lightgoldenrodyellow;
}
[for="player10"] {
    background-color: lightpink;
}
.astra {
    background-image: url(../img/astra.png);
    background-position: 100px;
    background-repeat: no-repeat;
}

.breach {
    background-image: url(../img/breach.png);
    background-position: 100px;
    background-repeat: no-repeat;
}

.brimstone {
    background-image: url(../img/brimstone.png);
    background-position: 100px -70px;
    background-repeat: no-repeat;
}

.cypher {
    background-image: url(../img/cypher.png);
    background-position: 90px -90px;
    background-repeat: no-repeat;
}
.jett {
    background-image: url(../img/jett.png);
    background-position: 80px;
    background-repeat: no-repeat;
}
.killjoy {
    background-image: url(../img/killjoy.png);
    background-position: 80px;
    background-repeat: no-repeat;
}
.omen {
    background-image: url(../img/omen.png);
    background-position: 90px;
    background-repeat: no-repeat;
}
.phoenix {
    background-image: url(../img/phoenix.png);
    background-position: 100px -100px;
    background-repeat: no-repeat;
}
.raze {
    background-image: url(../img/raze.png);
    background-position: 100px -85px;
    background-repeat: no-repeat;
}
.reyna {
    background-image: url(../img/reyna.png);
    background-position: 100px;
    background-repeat: no-repeat;
}

.sage {
    background-image: url(../img/sage.png);
    background-position: 80px;
    background-repeat: no-repeat;
}

.skye {
    background-image: url(../img/skye.png);
    background-position: 100px;
    background-repeat: no-repeat;
}

.sova {
    background-image: url(../img/sova.png);
    background-position: 115px;
    background-repeat: no-repeat;
}

.viper {
    background-image: url(../img/viper.png);
    background-position: 100px -75px;
    background-repeat: no-repeat;
}

.yoru {
    background-image: url(../img/yoru.png);
    background-position: 110px -120px;
    background-repeat: no-repeat;
}


/* STRATEGY */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#ffffff;
    height: 50vh;
}

main section {
    height: 30px;
    display: inline;
    flex-direction: row-reverse;
    
    
}

div {
    display:inline-block;
    height: 15px;
    width: 15px;
    border-right: solid 0.1px;
    
}
p {
    display: inline;
    text-align: center;
}

.abilities {
    display: grid;
    grid-template-columns:  2fr 1fr 2fr;
    
}

.smokeE, .screenE, .flashE, .blindE, .obstacleE, .slowE, .dazeE, .healE, .healSelfE, .trackE, .revealE, .dmgExplE, .dmgAreaE, .teleportE, .movabilityE, .rapidFireE {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.smoke, .screen, .flash, .blind, .obstacle, .slow, .daze, .heal, .healSelf, .track, .reveal, .dmgExpl, .dmgArea, .teleport, .movability, .rapidFire {
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 640px) {

    nav {
        flex-direction: column;
        
    }

    div {
        height: 5px;
        width: 5px;
    }
}
    



