* {
    zoom: 98.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 2px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

/* GUEST-MODE */

header {
    display: none;
    justify-content: space-evenly;
    background-color: #414141;
    color: #949494;
    width: 100%;
}

/* NAV*/
nav {
    background-color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    color: #3c944f;
    
}
li a{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
}
li a:hover{
    color: brown;
}

/* LOG-IN - REGISTER */

.login, .signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
    background-color: black;
    color: white;
    border: solid white 0.1px;
    border-radius: 4px;
    padding: 10px;
}

.login {
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.login a:visited, .signin a:visited {
    color: #db7474;
}

.guest {
    color: #a1a0a0;
}

.guest:visited {
    color: #a1a0a0;
}

.fas {
    color: white;
    align-self: flex-end;
}

.login a, .signin a {
    color: #db7474;
}

label {
    margin-top: 10px;
}

[type="text"] {
    margin-left: 34.5px;
}

[type="email"] {
    margin-left: 28.5px;
}

[type="submit"] {
    width: 100px;
    margin: auto;
    margin-top: 10px;
}

/* TEAM SELECTION */

.teams {
    display: flex;
    height: 280px;
    justify-content: center;
}

select {
    height: 25px;
    width: 70px;
}

h1 {
    text-align: center;
}

aside {
    background-color: #000000;
    height: 280px;
    width: 500px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

aside section {
    border: solid #ffffff 1px;
    border-radius: 10px;
    height: 45px;
}

.teamE {
    text-align: right;
}

[for="player1"] {
    background-color: darkred;
}

[for="player2"] {
    
    background-color: indianred;
}

[for="player3"] {
    background-color:goldenrod;
}

[for="player4"] {
    background-color:darkgreen;
    
}

[for="player5"] {
    background-color:mediumblue;
}

[for="player6"] {
    background-color:coral;
}

[for="player7"] {
    background-color: lightpink;
}

[for="player8"] {
    background-color:darkkhaki;
}

[for="player9"] {
    background-color:darkolivegreen;
}

[for="player10"] {
    background-color:slateblue;
}

.astra {
    background-image: url(../img/astra.png), url(../img/controller.png);
    background-position: 100px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.breach {
    background-image: url(../img/breach.png), url(../img/initiator.png);
    background-position: 90px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.brimstone {
    background-image: url(../img/brimstone.png), url(../img/controller.png);
    background-position: 100px -80px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.cypher {
    background-image: url(../img/cypher.png), url(../img/sentinel.png);
    background-position: 110px -105px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.jett {
    background-image: url(../img/jett.png), url(../img/duelist.png);
    background-position: 70px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.kayo {
    background-image: url(../img/kayo.png), url(../img/initiator.png);
    background-position: 90px -50px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.killjoy {
    background-image: url(../img/sentinel.png), url(../img/killjoy.png);
    background-position: 300px, 80px;
    background-repeat: no-repeat;
    background-size: 40px, auto;
}

.omen {
    background-image: url(../img/omen.png), url(../img/controller.png);
    background-position: 80px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.phoenix {
    background-image: url(../img/phoenix.png), url(../img/duelist.png);
    background-position: 105px -100px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.raze {
    background-image: url(../img/raze.png), url(../img/duelist.png);
    background-position: 85px -85px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.reyna {
    background-image: url(../img/reyna.png), url(../img/duelist.png);
    background-position: 95px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.sage {
    background-image: url(../img/sentinel.png), url(../img/sage.png);
    background-position: 300px, 80px;
    background-repeat: no-repeat;
    background-size: 40px, auto;
}

.skye {
    background-image: url(../img/initiator.png), url(../img/skye.png);
    background-position: 300px, 90px;
    background-repeat: no-repeat;
    background-size: 40px, auto;
}

.sova {
    background-image: url(../img/sova.png), url(../img/initiator.png);
    background-position: 95px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.viper {
    background-image: url(../img/viper.png), url(../img/controller.png);
    background-position: 65px -75px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

.yoru {
    background-image: url(../img/yoru.png), url(../img/duelist.png);
    background-position: 90px -120px, 300px;
    background-repeat: no-repeat;
    background-size: auto, 40px;
}

/* ABILITIES */

.basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: 350px;
}

.advanced {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: 800px;
}

section section {
    height: 30px;
    display: inline;
    flex-direction: row-reverse;
}

div {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    margin: 0.5px;
    border: solid 0.1px grey;
    border-top: solid 7px;
}

p {
    display: inline;
    text-align: center;
}

.abilities {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.smokeE, .screenE, .flashE, .blindE, .obstacleE, .slowE, .dazeE, .healE, .healSelfE, .trackE, .revealE, .dmgExplE, .dmgAreaE, .teleportE, .movabilityE, .rapidFireE, .concussionE, .reviveE, .decoyE, .vulnerableE, .suppressionE, .detainE {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.smoke, .screen, .flash, .blind, .obstacle, .slow, .daze, .heal, .healSelf, .track, .reveal, .dmgExpl, .dmgArea, .teleport, .movability, .rapidFire, .concussion, .revive, .decoy, .vulnerable, .suppression, .detain {
    display: flex;
    justify-content: flex-start;
}

footer {
    color: white;
    text-align: right;
    font-style: oblique;
    font-size: smaller;
}

/* MEDIA QUERY */

@media screen and (max-width: 640px) {
    * {
        zoom: 96%;
    }
    body {
        font-size: smaller;
    }
    .teams {
        display: flex;
        flex-direction: column;
        height: 570px;
    }
    aside {
        height: 600px;
    }
    div {
        height: 5px;
        width: 5px;
        border-top: solid 3px;
    }
    [type="text"] {
        margin-left: 28.5px;
    }
}